a,
body {
	margin: 0;
	padding: 0;

	background: red;

	font-family:
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Fira Sans",
		"Droid Sans",
		"Helvetica Neue",
		sans-serif;

	&__tre {
		margin: 0;
		padding: 0;

		color: #feeeee;
		background: red;
	}
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}
